<p>yoyoyo</p>

<%= form_for :manager_profile, url: {action: 'create'}  do |f|%>
  <%= f.label :name, "name" %>
  <%= f.text_field :name  %>
  <br>

  <%= f.fields_for :user_attributes do |ff| %>
    <div>
      <%= ff.label :email, 'email' %>
      <%= ff.text_field :email  %>
      <br>
      <%= ff.label :address, 'address' %>
      <%= ff.text_field :address %>
      <br>
      <%= ff.label :password, 'password' %>
      <%= ff.password_field :password %>
      <br>
      <%= ff.label :password_confirmation, 'password confirmation' %>
      <%= ff.password_field :password_confirmation %>
      <br>
    </div>
  <% end %>
  <%= f.submit 'Submit' %>
<% end %>